<%
this.adminPage = 'problem';
%>
<% include admin_header %>

<div>
    <table class="ui very basic center aligned table">
        <thead>
        <tr>
            <th class="one wide">题号</th>
            <th class="two wide">题目名</th>
            <th class="one wide">比赛id</th>
            <th class="one wide">禁止代码访问截止时间</th>
        </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
                <tr>
                    <td> <%= item.problem_id%></td>
                    <td> <%= item.problem_title%></td>
                    <td> <%= item.contest_id%></td>
                    <td> <%= syzoj.utils.formatDate(item.forbid_submission_end_time)%></td>
                </tr>
            <% })%>
        </tbody>
    </table>
    <% include page %>

    <div class="ui horizontal divider" style="margin-top: 30px"> 题目代码禁止访问的截止时间设置 </div>
    <div style="margin-top: 10px" class="ui form">
        <div class="ui fluid input inline field">
            <label style="line-height: 37.8px; width: 70px">题号</label>
            <input type="text" id="pid_input">
        </div>
        <div class="ui fluid input inline field" >
            <label style="line-height: 37.8px; width: 70px">截止时间</label>
            <input type="text" id="problem_end_time" value="<%= syzoj.utils.formatDate(syzoj.utils.getCurrentDate())%>">
        </div>
        <button class="ui blue labeled icon button" onclick="update(0)"><i class="ui edit icon"></i>设置</button>
        <button class="ui negative labeled icon button" onclick="update(1)"><i class="ui trash icon"></i>删除</button>
    </div>


    <div class="ui horizontal divider" style="margin-top: 30px"> 比赛题目代码禁止访问的截止时间设置 </div>
    <div style="margin-top: 10px" class="ui form">
        <div class="ui fluid input inline field">
            <label style="line-height: 37.8px; width: 70px">比赛id </label>
            <input type="text" id="contest_id" onblur="contestIdInputOnblur()">
        </div>
        <div class="ui fluid input inline field" >
            <label style="line-height: 37.8px; width: 70px">截止时间</label>
            <input type="text" id="contest_end_time">
        </div>

        <div style="color: red" id="problem_show"></div>

        <button class="ui blue labeled icon button" onclick="update(2)"><i class="ui edit icon"></i>设置</button>
        <button class="ui negative labeled icon button" onclick="update(3)"><i class="ui trash icon"></i>删除</button>
    </div>



</div>


<script>
let contest_id = undefined


const contestIdInputOnblur = () => {
    let id = $("#contest_id").val()
    if(contest_id===id) return
    contest_id = id

    $.get("/admin/problem_forbid/contest/" + id, data => {
        if(data.error) {
            alert(data.error)
            return
        }
        $('#contest_end_time').val(data.end_time)
    })
}

const update = (action) => {
    let id = undefined
    let end_time = 0
    if(action === 0 || action === 1) {
        id = parseInt($("#pid_input").val())
        if(action === 0) {
            end_time = parseInt(new Date($("#problem_end_time").val()) / 1000)
            if (isNaN(end_time)) {
                alert("请输入有效的题目代码禁止访问截止时间")
                return;
            }
        }
    } else if(action === 2 || action === 3) {
        id = contest_id
        if(action === 2) {
            end_time = parseInt(new Date($("#contest_end_time").val()) / 1000)
            if (isNaN(end_time)) {
                alert("请输入有效的比赛代码禁止访问截止时间")
                return;
            }
        }
    }
    if(isNaN(id)) return
    $.get("/admin/problem_forbid?id=" + id + "&action=" + action + "&end_time=" + end_time, data => {
        if(data.error) {
            alert(data.error)
            return
        }
        window.location.href = "/admin/problem"
    })
}
</script>

<% include admin_footer %>
