<% this.title = '补题 - ' + contest.title %>
<% include header %>
<style>
.submit_time {
  font-size: 0.8em;
  margin-top: 5px;
  color: #000;
}
</style>
<div class="padding">
<h1 class="ui center aligned header" style="margin-bottom: 30px; "><%= contest.title %></h1>
        <table class="ui very basic center aligned table">
            <thead>
            <tr>
                <% if (local_is_admin || !contest.hide_username) { %><th>用户名</th><% } %>
                <% if (local_is_admin) { %><th>nick</th><% } %>
                <% for (let i = 0; i < problems.length; i++) { %>
                  <th>
                    <a href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'problem', i + 1]) %>">
                      <%= "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[i % 26] + (hide_problem_title ? "" : ". " + syzoj.utils.removeTitleTag(problems[i].title)) + " (" + problems[i].buti_num + ")" %>
                    </a>
                  </th>
                <% } %>
            </tr>
            </thead>
            <tbody>
            <% for (let item of repeatlist) { %>
              <tr>
                  <% if (local_is_admin || !contest.hide_username) { %><td><a href="<%= syzoj.utils.makeUrl(['user', item.user.id]) %>"><%= item.user.username %></a><% if (item.user.nameplate) { %><%- item.user.nameplate %><% } %></td><% } %>
                  <% if (local_is_admin) { %><td><%= item.user.nickname %></td><% } %>
                  <% for (let problem of item.problems) { %>
                    <td>
                        <% if (problem.buti_judge) { %>
                          <a href="<%= syzoj.utils.makeUrl(['submission', problem.buti_judge.id]) %>">
                            <span class="status <%= problem.buti_judge.status.toLowerCase().split(' ').join('_') %>">
                              <i class="<%= icon[problem.buti_judge.status] || 'remove' %> icon"></i>
                            </span>
                          </a>
                        <% } %>

                    </td>
                  <% } %>
              </tr>
            <% } %>
            </tbody>
        </table>
<% if (!repeatlist.length) { %>
<div style="background-color: #fff; height: 18px; margin-top: -18px; "></div>
<div class="ui placeholder segment" style="margin-top: 0px; ">
  <div class="ui icon header">
    <i class="ui file icon" style="margin-bottom: 20px; "></i>
    暂无选手补题
  </div>
</div>
<% } %>
</div>
<% include footer %>
