
<% this.title = '题目列表 - 洛谷'; %>
<% include header %>

<link href="<%- lib('element-plus/2.2.28/index.min.css') %>" rel="stylesheet">
<script src="<%- lib('vue/3.2.36/vue.global.min.js') %>"></script>
<script src="<%- lib('element-plus/2.2.28/index.full.min.js') %>"></script>

<style>
    .icon_on_hover:hover {
        color: #0ea432;
    }
    .__icon {
        color: #409EFF;
    }
</style>

<div class="padding">
    <div id="app">

       <el-button type="primary" @click="tagDialog = true"> 筛选 </el-button>



        <div></div>
        <div v-if="choose.length > 0">
            <el-divider content-position="left"> <span style="color: #0053A1; font-size: 16px"> 已选择过滤条件 </span></el-divider>
            <el-space wrap>
                <el-tag
                        v-for="x in choose"
                        closable
                        :type="tag_choose_type[x.tag.type]"
                        :effect="(x.tag.type === 2) ? 'dark' : 'light'"
                        @close = "closeTag(x)"
                >
                    {{ x.tag.name }}
                </el-tag>
            </el-space>
        </div>
        <el-dialog
                v-model="tagDialog"
                title="筛选"
                width="60%"
                @close="closeDialog"
                destroy-on-close
        >

            <el-tabs
                    v-model="activeName"
                    type="card"
                    class="demo-tabs"
            >
                <el-tab-pane v-for="tid in type_orders" :name="tid">
                    <template #label>
                        {{tag_map[tid].name}}
                    </template>
                    <div style="height: 55vh; overflow-y: auto;">
                        <div v-if="tid === 2">
                            <div v-for="(t, idx) in algorithm_tags">
                                <div v-if="idx > 0" style="margin-top: 50px"></div>
                                <el-divider content-position="left"> <span style="color: #0053A1; font-size: 16px"> {{t[0].tag.name}} </span></el-divider>
                                <el-space wrap   :size="20">
                                    <el-checkbox v-for="x in t" v-model="x.checked" :label="x.tag.name" @change="checkbox_click_handle(x)" />
                                </el-space>
                            </div>
                        </div>
                        <div v-else>
                            <el-space wrap   :size="20">
                                <el-checkbox v-for="x in tag_map[tid].tags" v-model="x.checked" :label="x.tag.name" @change="checkbox_click_handle(x)" />
                            </el-space>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>



        <template #footer>
          <span class="dialog-footer">
            <el-button type="primary" @click="tagDialog = false">
              确定
            </el-button>
          </span>
        </template>
        </el-dialog>


        <el-dialog
            v-model="solutionDialog"
            width="60%"
            destroy-on-close
        >
            <template #header ="{ close, titleId, titleClass }">
                <div class="my-header">
                    <h4 :id="titleId" :class="titleClass">题解</h4>
                </div>
            </template>

            <div v-if="showLoading">
                <span class="status running"><i class="spinner icon"></i> 加载中…… </span>
            </div>

            <div v-if="!showLoading" v-html="solutions" style="color: black">
            </div>

            <template #footer>
                <span class="dialog-footer">
                    <el-button type="primary" @click="solutionDialog = false">
                        关闭
                    </el-button>
                </span>
            </template>
        </el-dialog>


        <el-dialog
            v-model="statementDialog"
            width="60%"
            destroy-on-close
        >
            <template #header ="{ close, titleId, titleClass }">
                <div class="my-header">
                    <h4 :id="titleId" :class="titleClass">题目描述</h4>
                </div>
            </template>

            <div v-if="showLoading">
                <span class="status running"><i class="spinner icon"></i> 加载中…… </span>
            </div>

            <div v-if="!showLoading" v-html="statement" style="color: black">
            </div>

            <template #footer>
                <span class="dialog-footer">
                    <el-button type="primary" @click="statementDialog = false">
                        关闭
                    </el-button>
                </span>
            </template>
        </el-dialog>


        <div style="height: 30px"></div>
        <table class="ui center aligned table celled">
            <thead>
                <tr style="font-size: 18px; font-weight: 600">
                    <th class="one wide">
                            <div style="display: flex; align-items: center;justify-content: center">
                                <div> 题号 </div>
                                <div>
                                    <div>
                                        <div> <i :class="'caret up icon icon_on_hover' + ((search_order.orderBy == OrderBy.PID && search_order.asc)?' __icon':'')" @click="search_for_order(OrderBy.PID, true)"></i> </div>
                                        <div style="margin-top: -8px"> <i :class="'caret down icon icon_on_hover' + ((search_order.orderBy == OrderBy.PID && !search_order.asc)?' __icon':'')" @click="search_for_order(OrderBy.PID, false)"></i> </div>
                                    </div>
                                </div>
                            </div>
                    </th>
                    <th class="two wide"> 题目名称 </th>
                    <th class="two wide"> 标签 </th>
                    <th class="one wide">
                        <div style="display: flex; align-items: center;justify-content: center">
                            <div> 难度 </div>
                            <div>
                                <div>
                                    <div> <i :class="'caret up icon icon_on_hover' + ((search_order.orderBy == OrderBy.Difficulty && search_order.asc)?' __icon':'')" @click="search_for_order(OrderBy.Difficulty, true)"></i> </div>
                                    <div style="margin-top: -8px"> <i :class="'caret down icon icon_on_hover' + ((search_order.orderBy == OrderBy.Difficulty && !search_order.asc)?' __icon':'')" @click="search_for_order(OrderBy.Difficulty, false)"></i> </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th class="one wide">
                        <div style="display: flex; align-items: center;justify-content: center">
                            <div> 通过数 </div>
                            <div>
                                <div>
                                    <div> <i :class="'caret up icon icon_on_hover' + ((search_order.orderBy == OrderBy.TotalAccepted && search_order.asc)?' __icon':'')" @click="search_for_order(OrderBy.TotalAccepted, true)"></i> </div>
                                    <div style="margin-top: -8px"> <i :class="'caret down icon icon_on_hover' + ((search_order.orderBy == OrderBy.TotalAccepted && !search_order.asc)?' __icon':'')" @click="search_for_order(OrderBy.TotalAccepted, false)"></i> </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th class="one wide">
                        <div style="display: flex; align-items: center;justify-content: center">
                            <div> 题解数 </div>
                            <div>
                                <div>
                                    <div> <i :class="'caret up icon icon_on_hover' + ((search_order.orderBy == OrderBy.SolutionCount && search_order.asc)?' __icon':'')" @click="search_for_order(OrderBy.SolutionCount, true)"></i> </div>
                                    <div style="margin-top: -8px"> <i :class="'caret down icon icon_on_hover' + ((search_order.orderBy == OrderBy.SolutionCount && !search_order.asc)?' __icon':'')" @click="search_for_order(OrderBy.SolutionCount, false)"></i> </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="p in problems">
                    <td> <a :href="'javascript:;'" @click="showStatement(p.pid)">{{p.pid}} </a></td>
                    <td> <a :href="'https://www.luogu.com.cn/problem/' + p.pid" target="_blank">{{p.title}} </a></td>
                    <td>
                        <span v-for="tagid in p.tags">
                            <el-button v-if="tagid_map_tag[tagid].type === 2"  type="primary"  style="margin-left: 2px" size="small"
                                       @click="search_append_tag(tagid)">
                                {{ tagid_map_tag[tagid].name }}
                            </el-button>
                        </span>
                    </td>
                    <td>
                        <span :style="{background: difficulty_color[p.difficulty].color, color:'white', padding: '6px'}">
                            {{difficulty_color[p.difficulty].name}}
                        </span>
                    </td>
                    <td>{{p.totalAccepted}}</td>
                    <td><a :href="'javascript:;'" @click="showSolutions(p.pid)">{{p.solutionCount}}</a></td>
                </tr>
            </tbody>
        </table>

        <div style="float: right">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="total"
                    :page-size="50"
                    v-model:current-page="current_page"
                    class="mt-4"
                    @current-change="currentPageChange()"
                    @prev-click="currentPageChange()"
                    @next-click="currentPageChange()"
            />
        </div>
        <div style="height: 100px"></div>

    </div>
</div>


<script>
    const {createApp, ref, onMounted, reactive, computed} = Vue;
    const total = ref(<%- serializejs(total) %>)
    const current_page = ref(1)

    const tags = <%- serializejs(tags) %>
    const types = <%- serializejs(types) %>
    const problems = ref(<%- serializejs(problems) %>)
    const tagDialog = ref(false)
    const tag_map = {
        "1": {
            name: "区域",
            tags: []
        },
        "2": {
            name: "算法",
            tags: [],
        },
        "3": {
            name: "来源",
            tags: [],
        },
        "4": {
            name: "时间",
            tags: [],
        },
        "5": {
            name: "特殊题目",
            tags: [],
        },
        "6": {
            name: "其他",
            tags: [],
        },
        "7": {
            name: "难度",
            tags: [],
        },
    }
    const tag_choose_type = {1: "", 2: "", 3: "success", 4: "info", 5: "danger", 6: "warning"}
    const difficulty_color = { 0: {color: "#BFBFBF", name: "暂无评定"}, 1: {color: "#FE4C61", name: "入门"}, 2: {color: "#F39C11", name:"普及-"},
        3: {color:"#FFC116", name: "普及/提高-"}, 4: {color:"#52C41A", name:"普及+/提高"}, 5: {color:"#3498DB", name:"提高+/省选-"},
        6: {color:"#9D3DCF", name:"省选/NOI-"}, 7: {color:"#0E1D69", name:"NOI/NOI+/CTSC"}
    }

    const tagid_map_tag = {}
    tags.forEach(tag => {
        tagid_map_tag[tag.id] = tag
        tag_map[tag.type].tags.push(reactive({
            tag: tag,
            checked: false
        }))
    })


    const algorithm_tags = []
    tag_map[2].tags.forEach(t => {
        tag = t.tag
        if(!tag.parent) algorithm_tags.push([t])
        else {
            for(let a of algorithm_tags) {
                if(a[0].tag.id === tag.parent) {a.push(t); break}
            }
        }
    })

    const type_orders = [2, 3, 4, 1, 5, 6, 7]
    const activeName = ref(2)
    const choose = ref([])



    let changed = false
    const checkbox_click_handle = (t) => {
        changed = true
        if(t.checked) choose.value.push(t); else {
            t.checked = false
            let cnt = 0
            for(let x of choose.value) {
                if(x.tag.id === t.tag.id) {
                    x.checked = false
                    choose.value.splice(cnt, 1)
                    break
                }
                cnt++
            }
        }
    }

    const closeTag = (t) => {
        t.checked = false
        checkbox_click_handle(t)
        search(true)
        changed = false
    }

    const search_append_tag = tagid => {
        for(let tt of tag_map[2].tags) {
            if(tt.tag.id === tagid) { choose.value.push(tt); break}
        }
        search(true)
    }


    const OrderBy = {
        PID: 0,
        Difficulty: 1,
        TotalAccepted: 2,
        SolutionCount: 3,
    };

    const search_order = reactive({
        orderBy: OrderBy.PID,
        asc: true
    })

    const search_for_order = (orderBy, asc) => {
        search_order.orderBy = orderBy
        search_order.asc = asc
        search(true)
    }


    const search = (rePage = false) => {
        let ids = choose.value.map(t => t.tag.id)
        if(rePage) current_page.value = 1
        $.post("/luogu/problems/<%-type%>/search", {tags: ids, page: current_page.value, orderBy: search_order.orderBy, asc: search_order.asc}, (data) => {
            if(!data.err) {
                problems.value = data.problems
                total.value = data.total
            } else {
                alert(data.err)
            }
        })
    }

    const closeDialog = ()=>{
        if(changed) {
            search(true)
            changed = false
        }
    }

    const currentPageChange = ()=> {
        search()
    }


    const showLoading = ref(false)

    const solutionDialog = ref(false)
    const solutions = ref("")

    const showSolutions = (pid) => {
        showLoading.value = true;
        solutionDialog.value = true;
        $.get("/luogu/problems/<%-type%>/solutions/" + pid, (data) => {
            if (!data.err) {
                solutions.value = data.solutions;
                showLoading.value = false;
            } else {
                solutionDialog.value = false;
                console.log(data.err);
                alert(data.err);
            }
        });
    }

    const statementDialog = ref(false)
    const statement = ref("")

    const showStatement = (pid) => {
        showLoading.value = true;
        statementDialog.value = true;
        $.get("/luogu/problems/<%-type%>/statement/" + pid, (data) => {
            if (!data.err) {
                statement.value = data.statement;
                showLoading.value = false;
            } else {
                statementDialog.value = false;
                console.log(data.err);
                alert(data.err);
            }
        });
    }

    const App = {
        setup() {
            return {problems, activeName, tag_map, type_orders, algorithm_tags,  tagDialog, choose, checkbox_click_handle, tag_choose_type, closeTag, closeDialog, total, current_page, currentPageChange,
                tagid_map_tag, search_append_tag, search_for_order, OrderBy, search_order, difficulty_color,
                showLoading, solutionDialog, solutions, showSolutions,
                statementDialog, statement, showStatement
            }
        },
    }
    createApp(App).use(ElementPlus).mount('#app')
</script>