<% this.title = '我的比赛' %>
<% include header %>

<div class="padding">
    <div style="margin-top: 20px"></div>
    <div>
        <div class="ui action left icon input inline" style="width: 180px; margin-right: 77px; ">
            <i class="search icon"></i><input placeholder="比赛标题" type="text" id="search_input">
            <button class="ui mini button" onclick="searchContest()">查找比赛</button>
        </div>
        <div  style="font-size: 18px;margin-top: 20px; display: flex; justify-content: space-between" >
            <div> contest history of <a id="page_url" href="/cp/user/<%= show_user.id %>?key=<%= key %>"> <%= show_user.username + ' - ' + show_user.nickname%> </a> </div>
            <div> 总数量: <%= count%>  </div>
        </div>
    </div>

    <div style="margin-top: 20px"></div>
    <table class="ui center aligned table celled">
        <thead>
        <tr>
            <th class="one wide">名次</th>
            <th class="one wide">总人数</th>
            <th class="one wide"><div>得分</div> <div>(赛中/赛后/总分) </div></th>
            <th class="one wide"><div>过题</div> <div>(赛中/赛后/总题数)</th>
            <th class="two wide">详细</th>
            <th class="one wide">比赛页面</th>
            <th class="two wide">开始时间</th>
        </tr>
        </thead>
        <tbody>
        <% data.forEach(item => { %>
            <tr>
                <td><%= item.rank%> </td>
                <td><%= item.player_num%> </td>
                <td>  <%= item.score%> / <%=  item.score_after_contest %> / <%= item.total_score%> </td>
                <td> <%= item.solved%> / <%= item.solved_count%> / <%= item.problem_count%> </td>
                <td>
                    <a href="<%= syzoj.utils.makeUrl(['summary'], {user_id: show_user.id, contest_id: item.contest.id})%>"> <%= item.contest.title%> </a>
                </td>
                <td>
                    <a href="<%= syzoj.utils.makeUrl(['contest', item.contest.id])%>"> <%= item.contest.id%> </a>
                </td>
                <td>
                    <%= syzoj.utils.formatDate(item.contest.start_time) %>
                </td>
            </tr>
        <%})%>
        </tbody>
    </table><br>
    <% include page  %>

    <div style="display: flex; align-items: center;">
        <div class='mini ui primary button' style='margin-left: 10px' onclick="copyLink()" id="copy_link_button">  复制页面链接 </div>
    </div>

</div>

<script>
function searchContest() {
    let s = window.location.search
    let idx = s.indexOf("?")
    let url = window.location.href
    let a = (idx !== -1) ? s.substring(1).split('&').filter(v => v.indexOf('page') === -1 && v.indexOf('title') === -1) : []
    a.push("title=" + $('#search_input').val())
    if(idx !== -1) url = url.substring(0, idx)
    window.location.href = url + "?" + a.join("&")
}
async function copyLink() {
    let $button = $('#copy_link_button')

    $button.attr('disabled', 'true').removeClass('primary').addClass('positive')
    const org = $button.text()
    setTimeout(() => {
        $button.removeAttr("disabled").removeClass('positive').addClass('primary')
        $button.text(org)
    }, 1000)
    $button.text('复制成功');
    let str = window.location.origin + $('#page_url').attr('href');
    copyToClip(str);
}
</script>
<% include footer %>
